/* sRGB color. */
:root {
  --bright-green: rgb(44, 74, 50);
  --bright-white: rgb(242, 235, 241);
  --bright-brown: rgb(93, 50, 50);
  --background: black;
  --foreground: white;
  --border-size: 2px;
  --border-radius: 0.75em;
}

h4,
h3,
h2 {
  padding-block: 10px;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
}

a:link,
a:visited {
  color: white;
}

a.active {
  color: #b7a3c5;
  text-shadow: 1px 1px 2px black;
}

a {
  transition: 1s ease-in-out;
}

.header {
  background: #058a81;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  box-shadow: 0 8px 32px 0 #b7a3c5;
  padding-inline: 20px;
  /* border-bottom: 1px solid red; */
}

.header #logo {
  width: 5vw;
  height: 5vh;
  display: flex;
  align-items: center;
}

.header #logo #blob-svg {
  position: relative;
  left: 0;
  top: 0;
  box-shadow: 0 8px 32px 0 #b7a3c5;
}
.header #logo p a,
.header #logo p a:visited {
  color: #333333;
}

.header #logo p {
  position: relative;
  left: -40px;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333333;
  font-size: 16px;
  z-index: 10;
}

#banner {
  background-color: #333;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-block: 60px; */
  align-items: center;
  line-height: 1.5;
  padding: 10px;
}

#banner h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-shadow: 1px 1px 1px #000;
}
#banner h2 {
  font-size: 3em;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#banner img {
  width: 70%;
  height: 70%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  animation: fadeIn 4s ease-in;
}

.content h1 {
  text-shadow: 1px 1px 1px #000;
}

#banner-image-container {
  position: relative;
}

.title {
  display: flex;
  align-items: center;
  line-height: 1.5;
  /* border: 1px solid red; */
  padding: 20px 10px;
  text-align: left;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url(../images/offer.png) repeat;
  background-size: cover;
}
.main-content p {
  padding: 10px;
}

.parent-container-about {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me {
  line-height: 1.5;
  padding: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.parent-container-skills {
  padding: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

.skills-button-grid {
  display: grid;
  grid-gap: 0.3rem;
  line-height: 1.5;
  /* place-items: center; */
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Centers the child horizontally */
  align-items: flex-end;
  background: url(../images/blob-scene-haikei.png) repeat;
  background-size: 100vw 100vh;
  padding-inline: 20px;
  padding-block: 100px;
}

.portfolio {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
}
.portfolio-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #333333;
  color: white;
  height: 100px;
}

.card-text-container p {
  padding: 20px;
}

.project-stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-block: 20px;
  border-top: white 1px solid;
  gap: 1rem;
}

.card {
  border: 2px solid white;
  height: 620px;
  border-radius: 20px;
  background-color: #333333;
  color: white;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-button a:active {
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-image-container:hover .card-overlay {
  opacity: 1;
}
.card-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.card-text-container {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: auto;
  font-family: "Roboto", sans-serif;
}

img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  vertical-align: middle;
}

/* The secret sauce that enables gradient rotation. NOTE: does not work in all browsers. https://caniuse.com/?search=%40property */
@property --border-angle-1 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@property --border-angle-2 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 90deg;
}

@property --border-angle-3 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 180deg;
}

/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
  :root {
    --bright-green: color(display-p3 1 1 1);
    --bright-white: color(display-p3 1.4 0 1);
    --bright-brown: color(display-p3 1 1 1);
  }
}

@keyframes rotateBackground {
  to {
    --border-angle-1: 360deg;
  }
}

@keyframes rotateBackground2 {
  to {
    --border-angle-2: -270deg;
  }
}

@keyframes rotateBackground3 {
  to {
    --border-angle-3: 540deg;
  }
}

button {
  --border-angle-1: 0deg;
  --border-angle-2: 90deg;
  --border-angle-3: 180deg;
  color: inherit;
  font-size: 12px;
  font-family: inherit;
  border: 0;
  padding: var(--border-size);
  display: flex;
  width: max-content;
  border-radius: var(--border-radius);
  background-color: transparent;
  background-image: conic-gradient(
      from var(--border-angle-1) at 10% 15%,
      transparent,
      var(--bright-white) 10%,
      transparent 30%,
      transparent
    ),
    conic-gradient(
      from var(--border-angle-2) at 70% 60%,
      transparent,
      var(--bright-green) 10%,
      transparent 60%,
      transparent
    ),
    conic-gradient(
      from var(--border-angle-3) at 50% 20%,
      transparent,
      var(--bright-brown) 10%,
      transparent 50%,
      transparent
    );
  animation: rotateBackground 3s linear infinite,
    rotateBackground2 8s linear infinite, rotateBackground3 13s linear infinite;
}

/* Change this background to transparent to see how the gradient works */
button div {
  background-color: #333333;
  padding: 1em 1.5em;
  border-radius: calc(var(--border-radius) - var(--border-size));
  color: var(--foreground);
}

@font-face {
  font-family: "Aspekta";
  font-weight: normal;
  src: url("https://assets.codepen.io/240751/Aspekta-300.woff2") format("woff2");
}

footer {
  background-color: #333333;
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  border-top: #b7a3c5 solid 1px;
  padding-inline: 20px;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fa-brands,
.fa-solid {
  font-size: 1.5em;
  color: white;
  padding: 10px;
}

.fa-brands:hover,
.fa-solid:hover {
  color: #b7a3c5;
  transform: scale(1.2);
}

@media (min-width: 320px) {
  .skills-button-grid {
    /* padding-inline: 10px; */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.8rem;
    row-gap: 1rem;

    /* row-gap: 0.5rem; */
  }
  .project-stack {
    /* padding-block: 10px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
  }
}

@media (min-width: 430px) {
  .skills-button-grid {
    column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
  }
}
@media (min-width: 500px) {
  .skills-button-grid {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
  }
}

@media (min-width: 600px) {
  .skills-button-grid {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
  }
}

@media (min-width: 710px) {
  .skills-button-grid {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;
  }
}
@media (min-width: 900px) {
  .skills-button-grid {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 1rem;
  }
}

@media screen and (min-width: 1080px) {
  .header {
    background: #058a81;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    padding-inline: 40px;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 8px 32px 0 #b7a3c5;
  }

  .header #logo {
    position: relative;
    left: 0;
    top: 0;
    width: 5vw;
    height: 5vh;
    display: flex;
    align-items: center;
  }

  .header #logo #blob-svg {
    position: relative;
    left: 0;
    top: 0;
    box-shadow: 0 8px 32px 0 #b7a3c5;
  }
  .header #logo p a,
  .header #logo p a:visited {
    color: #333333;
  }

  .header #logo p {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #333333;
    font-size: 16px;
    z-index: 10;
  }

  .navMenu {
    color: white;
    text-decoration: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
  }

  .nav-link,
  a.nav-lLink {
    text-decoration: none;
    margin: 0 10px;
  }

  a.nav-link:hover {
    color: #b7a3c5 !important;
    text-shadow: 1px 1px 2px black;
  }

  #banner {
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-block: 60px;
    align-items: center;
    line-height: 1.5;
  }

  #banner h1 {
    font-size: 2em;
  }
  #banner h2 {
    font-size: 5em;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    animation: fadeIn 4s ease-in;
  }

  .content h1 {
    text-shadow: 1px 1px 1px #000;
  }

  #birds img {
    margin: 0;
    padding: 0;
  }

  #banner-image-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .main-content {
    /* height: 48vh; */
    background: url(../images/offer.png) no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: row;
    padding-inline: 50px;
    padding-block: 30px;
    align-items: flex-start;
  }

  .parent-container-about {
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid #ff04ff;
  }

  .parent-container {
    background: url(../images/blob-scene-haikei.png) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centers the child horizontally */
    padding-block: 100px;
  }

  .portfolio {
    min-height: 100vh;
    max-width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .portfolio-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333333;
    color: white;
    height: 100px;
  }

  .card {
    border: 2px solid white;
    height: 600px;
    border-radius: 20px;
    background-color: #333333;
    color: white;
  }

  .card-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 20px;
  }

  .card-text-container {
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-inline: 20px;
    font-family: "Roboto", sans-serif;
  }
  .card-button {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
  }

  img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    vertical-align: middle;
  }

  /* skills buttons */
  .parent-container-skills {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
  }

  .skills-button-grid {
    max-width: 600px;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    place-items: center;
  }

  /* The secret sauce that enables gradient rotation. NOTE: does not work in all browsers. https://caniuse.com/?search=%40property */
  @property --border-angle-1 {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0deg;
  }

  @property --border-angle-2 {
    syntax: "<angle>";
    inherits: true;
    initial-value: 90deg;
  }

  @property --border-angle-3 {
    syntax: "<angle>";
    inherits: true;
    initial-value: 180deg;
  }

  /* Display-P3 color, when supported. */
  @supports (color: color(display-p3 1 1 1)) {
    :root {
      --bright-green: color(display-p3 1 1 1);
      --bright-white: color(display-p3 1.4 0 1);
      --bright-brown: color(display-p3 1 1 1);
    }
  }

  @keyframes rotateBackground {
    to {
      --border-angle-1: 360deg;
    }
  }

  @keyframes rotateBackground2 {
    to {
      --border-angle-2: -270deg;
    }
  }

  @keyframes rotateBackground3 {
    to {
      --border-angle-3: 540deg;
    }
  }

  button {
    --border-angle-1: 0deg;
    --border-angle-2: 90deg;
    --border-angle-3: 180deg;
    color: inherit;
    font-size: 12px;
    font-family: inherit;
    border: 0;
    padding: var(--border-size);
    display: flex;
    width: max-content;
    border-radius: var(--border-radius);
    background-color: transparent;
    background-image: conic-gradient(
        from var(--border-angle-1) at 10% 15%,
        transparent,
        var(--bright-white) 10%,
        transparent 30%,
        transparent
      ),
      conic-gradient(
        from var(--border-angle-2) at 70% 60%,
        transparent,
        var(--bright-green) 10%,
        transparent 60%,
        transparent
      ),
      conic-gradient(
        from var(--border-angle-3) at 50% 20%,
        transparent,
        var(--bright-brown) 10%,
        transparent 50%,
        transparent
      );
    animation: rotateBackground 3s linear infinite,
      rotateBackground2 8s linear infinite,
      rotateBackground3 13s linear infinite;
  }

  /* Change this background to transparent to see how the gradient works */
  button div {
    background-color: #333333;
    padding: 1em 1.5em;
    border-radius: calc(var(--border-radius) - var(--border-size));
    color: var(--foreground);
  }

  .get-in-touch {
    transform: scale(0.95);
    text-shadow: 1px 1px 2px black;
    background: rgba(58, 7, 95, 0.4);
  }

  button .skills:hover {
    color: #333333;
    text-shadow: 1px 1px 2px black;
    background: rgba(5, 138, 129, 0.6);
  }

  @font-face {
    font-family: "Aspekta";
    font-weight: normal;
    src: url("https://assets.codepen.io/240751/Aspekta-300.woff2")
      format("woff2");
  }

  footer {
    background-color: #333333;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-top: #b7a3c5 solid 1px;
  }

  footer ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

/* animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
